<!DOCTYPE html>
<html lang="de">
<head>
    <title>Rondo Zeiterfassung</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='cropped-Favicon-rondolino-Logo-q-192x192.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='pause.js')}}"></script>
</head>
<body>
    <header>
        <h1 class="text_header" >Rondo Zeiterfassung</h1>
        <img src="{{url_for('static', filename='download.png')}}" class="image_header">
    </header>
    <main>
        <h1 class="returntext" >Die Dateine wurden Erfolgreich konvertiert !!!! </h1>
    </main>
    <meta http-equiv="refresh" content="5; URL=/">
</body>
</html>