<!DOCTYPE html>
<html lang="de">
<head>
    <title>Rondo Zeiterfassung</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='cropped-Favicon-rondolino-Logo-q-192x192.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='javascript.js')}}"></script>
</head>
<body>
    <header>
        <h1 class="text_header" >Rondo Zeiterfassung</h1>
        <img src="{{url_for('static', filename='download.png')}}" class="image_header">
    </header>
    <main>
        <meta http-equiv="refresh" content=2; URL=/Zeiterfassung">
        {%if status == 1%}

        <p class="done_text">Hallo {{name}} !</p>
        {%else%}
        <p class="done_text">Tschüs {{name}} !<p/>
        {%endif%}
        <p class="done_text">{{eater}}</p>
    </main>


</body>
</html>
