<!DOCTYPE html>
<html lang="de">
<head>
    <title>Rondo Zeiterfassung</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='cropped-Favicon-rondolino-Logo-q-192x192.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='pause.js')}}"></script>
</head>
<body>
    <header>
        <h1 class="text_header" >Rondo Zeiterfassung</h1>
        <img src="{{url_for('static', filename='download.png')}}" class="image_header">
    </header>
    <main>
        <meta http-equiv="refresh" content="5; URL=/Zeiterfassung">
        {%if status == 1%}
        <p class="done_text">Sie Haben sich bereits eingelockt !</p>

        {%elif status == 2%}
        <p class="done_text">Sie haben sich noch nicht eingelockt !</p>

        {%else%}
        <p class="done_text">Du hast dich heite schon ausgelockt !<p/>

        {%endif%}

    </main>


</body>
</html>
