<!DOCTYPE html>
<html lang="de">
<head>
    <title>Rondo Zeiterfassung</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='cropped-Favicon-rondolino-Logo-q-192x192.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='javascript.js')}}"></script>
</head>
<body>
    <header>
        <h1 class="text_header" >Rondo Zeiterfassung</h1>
        <img src="{{url_for('static', filename='download.png')}}" class="image_header">
    </header>
    <main>
       <p><button class="butten"><a class="butten_a" href="/Zeiterfassung">Zeiterfassung</a></button></p>
       <p><button class="butten"><a class="butten_a" href="/search">Search</a></button></p>
       <p><button class="butten" onclick="convert()">Convert</button></p>
    </main>
    <footer>
        <hr>
        <p><button class="butten"><a href="/down" class="butten_a"> Sever Herunterfahren </a></button></p>
    </footer>

</body>
</html>
