<!DOCTYPE html>
<html lang="de">
<head>
    <title>Rondo Zeiterfassung</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='cropped-Favicon-rondolino-Logo-q-192x192.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='pajavascriptuse.js')}}"></script>
</head>
<body>
    <header>
        <h1 class="text_header" >Rondo Zeiterfassung</h1>
        <img src="{{url_for('static', filename='download.png')}}" class="image_header">
    </header>
   <main>
       <p>Suchergebnise zu {{search}} </p>
       {%if counter_sel_zeiterfassung <= 0 and counter_sel_zeiterfassungbackup <= 0%}
       <h2>Kein Ergebnis Gefunden</h2>
       {%endif%}
       <table align="center">
            {%if counter_sel_zeiterfassung >= 1 %}
            <tr> <td class="tabel">Name</td> <td class="tabel">Datum</td>  <td class="tabel">Zeit1</td> <td class="tabel">Zeit2</td> <td class="tabel">Pausenlänge</td></tr>
            {%endif%}

               {%for row in result_search_1_reverse%}
                <tr>
                   <td class="tabel">{{row[1]}}</td>
                   <td class="tabel">{{row[2]}}</td>
                   <td class="tabel">{{row[3]}}</td>
                   <td class="tabel">{{row[4]}}</td>
                   <td class="tabel">{{row[5]}}</td>
                </tr>
               {%endfor%}

               {%for row in result_search_2_reverse%}
           <tr>
               <td class="tabel">{{row[1]}}</td>
               <td class="tabel">{{row[2]}}</td>
               <td class="tabel">{{row[3]}}</td>
               <td class="tabel">{{row[4]}}</td>
               <td class="tabel">{{row[5]}}</td>
           </tr>
               {%endfor%}
       </table>
   </main>

</body>
</html>
